<div id="breadcrumbs">
	<!--
		Output:
		Home / Crumb1 / Crumb2 / page.title
	-->

	<!-- Create crumbs list -->
	<!-- Basically, Split Url by "/" -->
	{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

	<!-- Debug -->
	<!-- page.url: {{ page.url }} <br/>
	<br/>
	crumbs: <br/>
	{% for crumb in crumbs %}
		{{forloop.index}}: {{ crumb }} <br/>
	{% endfor %}
	<br/> -->

	<!-- Sample Output:
		Actual Url: https://kodistudios.github.io/artonav/SubFolder1/Topic1.html

		page.url: /SubFolder1/Topic1.html

		crumbs:
		1:
		2: SubFolder1
		3: Topic1.html
	-->

	<!-- Define Site's Home Root -->
	<a href="/artonav/">artonav</a>

	<!-- Offset: 1 because first entry is empty! -->
	{% for crumb in crumbs offset: 1 %}
		{% if forloop.last %}
			<!-- Process File Crumb -->
			<!-- As last breadcrumb, add page's Title, NOT page's file name -->
			<!-- In md files, page.title is empty for some reason -->
			<!-- '/' here is used as breadcrumb separator -->
			/ {{ page.title }}
		{% else %}
			<!-- Process Folder Crumb -->
			<!-- '/' here is used as breadcrumb separator -->
			<!-- Inner Loop creates full Url Link from root, up co current folder crumb -->
			<!-- "capitalize" capitalizes only first letter, NOT full text! -->
			/ 
			<a href="/artonav
				{% assign crumb_limit = forloop.index | plus: 1 %}
				{% for crumb in crumbs limit: crumb_limit %}
					{{ crumb | append: '/' }}
				{% endfor %}">
				{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
			</a>
		{% endif %}
	{% endfor %}
</div>