<div id="breadcrumbs">
  <!-- Create crumbs list -->
  <!-- Basically, Split Url by "/" -->
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

  <!-- Debug -->
  page.url: {{ page.url }} <br/>
  <br/>
  crumbs: <br/>
  {% for crumb in crumbs %}
    {{ crumb }} <br/>
  {% endfor %}
  <br/>
  page.title: {{ page.title }} <br/>
  <br/>
  page.breadcrumbs: <br/>
  {% for crumb in page.breadcrumbs %}
    {{ crumb }} <br/>
  {% endfor %}
  <br/>
  page.parent.url: {{ page.parent.url }} <br/>

  <!-- Define Site's Home Root -->
  <a href="/bondipush/">Home</a>
  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
      / {{ page.title }}
    {% else %}
      / <a href="/bondipush{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
  {% endfor %}
</div>